@import "../../assets/stylesheets/shared/mixins/breakpoints";

.accessible-focus {
	.sites-dropdown__selected:focus {
		box-shadow: inset 0 0 0 2px var(--color-primary-light);
	}
}

.sites-dropdown {
	position: relative;

	&.is-open {
		.sites-dropdown__wrapper {
			z-index: z-index("root", ".sites-dropdown.is-open .sites-dropdown__wrapper");
		}
	}

	&.is-disabled {
		.sites-dropdown__wrapper {
			background-color: var(--color-neutral-0);
			border-color: var(--color-neutral-0);
			pointer-events: none;

			.site__title,
			.site__domain {
				color: var(--color-neutral-20);

				&::after {
					content: none;
				}
			}
		}
	}

	.sites-dropdown__wrapper {
		background: var(--color-surface);
		position: relative;
		width: 300px;

		@include breakpoint-deprecated( "<660px" ) {
			width: 100%;
		}
	}

	.site-selector {
		position: absolute;
		overflow-y: auto;
		width: 100%;
		overflow-x: hidden;
		background: var( --color-surface );
		border: 1px solid var( --color-neutral-10 );
		border-radius: 4px;
	}

	.site-selector__sites {
		max-height: 30vh;
	}
}

.sites-dropdown__selected {
	display: flex;
	border-bottom: 1px solid transparent;

	.has-multiple-sites & {
		cursor: pointer;
	}

	.site__content {
		padding: 8px 0;
	}

	.site-icon {
		border-radius: 50%;
	}

	.site__title {
		font-weight: 600;
	}

	span.site__title-chevron-icon {
		margin-inline-start: 0;
		position: relative;
		top: -1px;
	}
}