.quick-post {
	.sites-dropdown__wrapper {
		width: 200px;

		@include break-large {
			width: 300px;
		}
	}

	.sites-dropdown__selected .site__content {
		padding: 0;
	}

	.verbum-editor-wrapper {
		margin-top: 14px;
	}

	.editor__header {
		border-color: var( --color-border-subtle );
		/* stylelint-disable-next-line scales/radii */
		border-radius: 6px 6px 0 0;

		// Verbum editor is hiding the block settings menu, we need to show it.
		.editor__header-wrapper
			.editor__header-toolbar
			.block-editor-block-toolbar
			.block-editor-block-settings-menu {
			display: inline-block;
		}
	}

	.editor__main {
		border-color: var( --color-border-subtle );
		/* stylelint-disable-next-line scales/radii */
		border-radius: 0 0 6px 6px;
		border-top-width: 0;

		&,
		iframe {
			min-height: initial; // To make quick post box smaller.
		}

		.components-button {
			justify-content: initial; // Reset the global style which centers the popover menu items.
		}
	}

	.quick-post-actions {
		margin-top: 16px;

		button {
			margin-left: 5px;
		}

		.is-tertiary {
			gap: 5px;
		}

		.is-primary {
			padding: 10px 26px;
		}
	}
}
