.step-container-v2__sticky-bottom-bar {
	&-wrapper {
		position: sticky;
		bottom: 0;
		width: 100%;
	}

	width: 100%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	box-shadow: var( --color-border-subtle ) 0 1px 0 inset;
	background-color: var( --color-surface );

	&--no-box-shadow {
		box-shadow: none;
	}

	&--has-transparent-background {
		background-color: transparent;
	}

	&--center-text {
		text-align: center;
	}

	&-left-element,
	&-center-element,
	&-right-element {
		margin-block: 1rem;
	}

	&-left-element {
		margin-left: 1rem;
		margin-right: auto;
	}

	&-center-element {
		margin-inline: 2rem;
		min-width: 0;
	}

	&-right-element {
		margin-left: auto;
		margin-right: 1rem;
	}

	&--full-width {
		.step-container-v2__sticky-bottom-bar-left-element,
		.step-container-v2__sticky-bottom-bar-center-element,
		.step-container-v2__sticky-bottom-bar-right-element {
			flex-grow: 1;
		}
	}
}
