.playground-iframe {
	position: relative;
	width: 100%;
	height: 100%;
}

.playground-iframe__loading {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.playground-iframe__progress-bar {
	> div {
		background: var(--color-accent);
	}
}

.playground-iframe iframe {
	width: 100%;
	height: 100%;
	border: none;
}
