@import '@automattic/typography/styles/variables';
@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/variables';

.option-content {
	&--is-placeholder {
		.option-content__description *,
		.option-content__benefits-item *,
		.summary-button-title,
		.summary-button-badge-list *,
		.summary-button-decoration {
			@include placeholder();
			border-color: transparent;
		}

		.option-content__button svg,
		.option-content__benefits-item svg,
		.summary-button-decoration svg {
			fill: transparent;

			path {
				stroke: transparent;
			}
		}
	}

	&__button.summary-button.components-button {
		position: relative;
		text-align: initial;

		&:has( + .option-content__benefits ) {
			border-radius: $radius-large $radius-large 0 0;
		}
	}

	&__benefits {
		padding: 20px 28px;
		background-color: #fafafa;
		border: 1px solid $gray-200;
		border-top: none;
		border-radius: 0 0 $radius-large $radius-large;
		font-size: $font-size-medium;

		@include break-mobile {
			padding: 20px 64px;
		}

		&-item {
			.gridicon {
				fill: var( --studio-green-50 );
				flex-shrink: 0;
			}
		}

		&--clickable {
			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: #f3f6fc;
			}
		}
	}
	&:hover {
		.option-content__benefits--clickable {
			background-color: #f3f6fc;
		}
	}
}
