@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.step-route.use-my-domain {
	.domain-transfer-or-connect__content {
		box-shadow: none;
	}
}

.step-route.use-my-domain:not(:has(.step-container-v2)) {
	padding: 36px 0;
}

.use-my-domain:has(.step-container-v2) {
	padding: 0;

	.domain-transfer-or-connect__content {
		&.card {
			padding: 0;
			margin: 0;
		}
	}
}
