.promote-post-i2__credits-notice-content {

	.promote-post-i2__credits-notice-header {
		font-weight: 600;
	}

	ul {
		list-style-type: disc;
		list-style-position: inside;
		margin-left: 0;
		margin-bottom: 0;
	}
}
