@import '@automattic/typography/styles/variables';

.reader-add-new {
	padding: 10px;
}

.reader-add-new__form-title {
	margin-bottom: 10px;
}

.reader-add-new__subscriptions-title {
	font-size: $font-title-small;
	font-weight: 500;
	margin-bottom: 10px;
}
