body.wp-admin.agents-manager-sidebar-container--sidebar-open:not( .modal-open ) {
	&:is(
			[class*='jetpack_page_'],
			[class*='plugins_page_wpcom-'],
			.toplevel_page_jetpack,
			.tools_page_advertising
		) {
		#wpwrap {
			background-color: inherit;
			position: inherit;
		}

		#wpbody {
			padding-left: 0;
		}
	}

	&.plugins_page_wpcom-install-plugin {
		#wpwrap #wpcontent {
			min-height: inherit;
		}
	}
}
