@import "@automattic/typography/styles/variables";
@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";

.domain-transfer-or-connect {
	&--redesign {
		max-width: 600px;
		margin: 0 auto;

		.domain-transfer-or-connect__content {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}

	& header.domain-transfer-or-connect__page-heading {
		margin-bottom: 24px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 0 24px;

		// Specificity increase to override Card background color loaded later in the cascade.
		&.domain-transfer-or-connect__content {
			background-color: transparent;
			box-shadow: none;
		}
	}

	&__support-link {
		font-size: $font-body-small;
		color: var(--color-text-subtle);
		margin: 0 0 24px;

		@include break-mobile {
			margin: 24px 0;
		}

		button {
			color: var(--color-link);
			cursor: pointer;

			&:hover,
			&:focus,
			&:active {
				color: var(--color-link-dark);
			}

			&:focus {
				outline: thin dotted;
			}
		}
	}
}

button.action_buttons__button.action-buttons__back.domain-transfer-or-connect__go-back {
	@include break-mobile {
		margin: 0 0 18px;
	}

	margin: 16px 0 0 16px;
	text-decoration: none;
}
