@import '@automattic/calypso-color-schemes';

// Calypso style needs these variables
@import '@automattic/typography/styles/variables';
// stylelint-disable-next-line scss/load-no-partial-leading-underscore
@import '../client/assets/stylesheets/shared/mixins/_breakpoints.scss';

// Import dashicons for Storybook
@import url( //s0.wp.com/wp-includes/css/dashicons.min.css?v=20250127 );

// Calypso style
@import '../client/assets/stylesheets/style.scss';
