@import "../styles/variables";


.image-studio-footer {
	position: relative;
	flex-direction: column;
	max-width: 600px;
	width: 100%;
	align-self: center;
	margin-bottom: $footer-margin-bottom;

	.image-studio-modal--edit & {
		flex: 1 0 $footer-height;
		margin-top: var(--spacing-8, 32px);
	}

	&__inner {
		opacity: 1;
		padding: 0 $modal-padding;

		.image-studio-modal--edit & {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
		}
	}

	&__notice {
		font-size: 14px;
		color: #fff;
		width: 100%;
		margin-bottom: 16px;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}
