@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/breakpoints';

.reader-add-youtube {
	padding: 0 10px;

	strong {
		font-weight: 700;
	}
}

.reader-add-youtube__instructions {
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 30px 15px;
	margin: 0 auto;

	@include break-mobile {
		padding: 30px 45px;
	}
}

.reader-add-youtube__instructions-icon {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.reader-add-youtube__instructions-title {
	margin: 20px 0 30px;
	font-weight: 500;
	font-size: $font-title-medium;
}

.reader-add-youtube__instructions-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
