@import "@wordpress/base-styles/breakpoints";

.following.main .section-nav {
	margin-top: 0;

	.section-nav-tabs__list {

		.section-nav-tab__link {

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.following .search {
	margin-bottom: 0;
}

.following__search.card.is-compact {
	padding: 0;
	border-radius: 2px;
	box-shadow: 0 0 0 2px var(--color-neutral-10), 0 1px 2px var(--color-neutral-10);
	z-index: z-index("root", ".reader-following-search");
}

.following__search {
	margin-top: 8px;

	@include breakpoint-deprecated( ">660px" ) {
		margin-top: 30px;
	}
}

.following__view-toggle {
	display: flex;
	gap: 8px;

	.components-button {
		height: 36px;
		min-width: 36px;
		padding: 6px;
		color: var(--color-text);

		&.is-pressed {
			background: var(--color-text);
			color: var(--color-surface);
		}

		&:hover {
			background: var(--color-text);
			color: var(--color-surface);
		}
	}
}

.following-stream--no-subscriptions {
	max-width: $break-medium;
	margin: 0 auto;
	padding: 16px 24px;

	.navigation-header {
		padding-bottom: 0;

		@media (max-width: $break-medium) {
			padding: 0 0 16px 0;
		}
	}
}

.following-stream__quick-post-card {
	border-bottom: 5px solid var(--color-neutral-5);
	margin-block-end: 0;

	@include break-small {
		border-bottom: 0;
		margin-block-end: 20px;
	}

	&.components-card {
		border-radius: 0;

		@include break-small {
			/* stylelint-disable-next-line scales/radii */
			border-radius: 6px;
		}
	}
}